# 서울시 주요 공원 현황

In [1]:
import numpy as np
import pandas as pd

In [2]:
parks = pd.read_csv('./data/park_in_Seoul.csv', encoding='euc-kr')[['공원번호', '공원명', '면적', '지역', '공원주소', 'X좌표(WGS84)', 'Y좌표(WGS84)']]
parks.head()

,공원번호,공원명,면적,지역,공원주소,X좌표(WGS84),Y좌표(WGS84)
0,1,남산도시자연공원,2896887㎡ 임 야 : 2454140㎡ 녹지대 및 기타시설 : 442747㎡,중구,서울특별시 중구 삼일대로 231(예장동),126.990377,37.550140
1,3,길동생태공원,80683㎡,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),127.154779,37.540394
2,4,서울대공원,9132690m²,과천시,경기도 과천시 대공원광장로 102,127.019847,37.426449
3,5,서울숲,480994㎡,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),127.041798,37.543072
4,6,월드컵공원,2284085㎡,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),126.878907,37.571805

In [3]:
for i in parks.index:
    if parks['공원주소'][i].split()[0] == '경기도':
        parks.drop([i], inplace=True)
    elif parks['공원주소'][i].split()[0] != '서울특별시':
        parks['공원주소'][i] = '서울특별시 ' + parks['공원주소'][i]
parks.tail()

,공원번호,공원명,면적,지역,공원주소,X좌표(WGS84),Y좌표(WGS84)
127,1378,용마도시자연공원(사가정공원),109635㎡,중랑구,서울특별시 중랑구 면목7동 산50,127.095997,37.579762
128,1379,문화비축기지,140022㎡,마포구,서울특별시 마포구 증산로 87,126.893245,37.571718
129,1380,경춘선숲길,211392㎡,NaN,서울특별시 노원구 공릉2동 산 82-2,127.076482,37.627077
130,1381,율현공원,157535㎡,강남구,서울특별시 강남구 율현동 밤고개로24길(율현동 56),127.115594,37.472332
131,1382,서울로7017,NaN,중구,서울특별시 서울로7017,NaN,NaN

In [4]:
parks['면적'] = parks['면적'].apply(lambda r: str(r))
for i in parks.index:
    if parks['면적'][i].split()[0] == '총':
        parks['면적'][i] = parks['면적'][i].split()[1]
    else:
        parks['면적'][i] = parks['면적'][i].split()[0]
for i in parks.index:
    if parks['면적'][i][-1] == '㎡':
        parks['면적'][i] = parks['면적'][i][:-1]
    elif parks['면적'][i][-1] == '㎥':
        parks['면적'][i] = parks['면적'][i][:-1]
    elif parks['면적'][i][-2:] == 'm2':
        parks['면적'][i] = parks['면적'][i][:-2]
    elif parks['면적'][i] == 'nan':
        parks['면적'][i] = np.nan
parks['면적'][6] = '983.79'
parks['면적'][109] = '103000'
parks['면적'][119] = '3865.59'
parks['면적'][131] = '6120'
parks['면적'] = pd.to_numeric(parks['면적'])
parks.head(40)

,공원번호,공원명,면적,지역,공원주소,X좌표(WGS84),Y좌표(WGS84)
0,1,남산도시자연공원,2896887.00,중구,서울특별시 중구 삼일대로 231(예장동),126.990377,37.550140
1,3,길동생태공원,80683.00,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),127.154779,37.540394
3,5,서울숲,480994.00,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),127.041798,37.543072
4,6,월드컵공원,2284085.00,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),126.878907,37.571805
5,12,광화문시민열린마당,8948.10,종로구,서울특별시 종로구 세종로 76-2,126.978023,37.575045
6,13,진관근린공원(구파발폭포),983.79,은평구,서울특별시 은평구 진관동 393,126.919216,37.637024
7,16,중마루근린공원,6456.00,영등포구,서울특별시 영등포구 영등포동2가 222,126.911267,37.519832
8,17,응봉공원,80309.00,성동구,서울특별시 성동구 금호동1가 산1-72,127.021765,37.557228
9,18,매화근린공원,1980.40,강서구,서울특별시 강서구 등촌동 630-14,126.861150,37.557583
10,19,성수근린공원,5197.70,성동구,서울특별시 성동구 성수2가 3동 302-25,127.052402,37.544814
11,20,샛마을근린공원,11467.00,강동구,서울특별시 강동구 명일1동 288,127.147162,37.550481
12,21,여의도근린공원,229539.00,영등포구,서울특별시 영등포구 여의공원로 68 (여의도동),126.922377,37.526129
13,22,간데메근린공원,15179.70,동대문구,서울특별시 동대문구 서울시립대로2길 59(간데메공원),127.048864,37.573244
14,23,훈련원근린공원,16734.60,중구,서울특별시 중구 을지로 227,127.003819,37.567524
15,24,영등포근린공원,61544.00,영등포구,서울특별시 영등포구 신길로 275,126.910662,37.515423
16,25,보라매근린공원,424106.00,동작구,서울특별시 동작구 여의대방로20길 33(보라매공원),126.918289,37.492333
17,26,어린이대공원,560552.00,광진구,서울특별시 광진구 능동로 216(어린이대공원),127.080921,37.549899
18,27,천호근린공원,26696.80,강동구,서울특별시 강동구 올림픽로 702(천호공원),127.126345,37.544474
19,29,용산가족공원,75900.00,용산구,서울특별시 용산구 서빙고로 185,126.983335,37.522226
20,30,독립근린공원,113021.70,서대문구,서울특별시 서대문구 통일로251(독립공원),126.956771,37.573829
21,31,낙산근린공원,201779.00,종로구,서울특별시 종로구 낙산길 41 (우) 03085,127.007587,37.580477
22,32,양재시민의숲,258991.00,서초구,서울특별시 서초구 매헌로 99 (양재동),127.035042,37.471225
23,36,관악산도시자연공원,10420819.08,관악구,서울특별시 관악구 관악로 1(관악산공원),126.964130,37.445208
24,37,효창근린공원,171294.10,용산구,서울특별시 용산구 효창원로 177-18,126.959930,37.545234
25,39,감로천생태공원(관악산),15000.00,금천구,서울특별시 금천구 독산4동 371?375 373일대,126.907951,37.469625
26,40,개운산근린공원,297926.00,성북구,서울특별시 성북구 북악산로 949-73(돈암동 6-1),127.025286,37.596584
27,41,개웅산근린공원,411972.00,구로구,서울특별시 구로구 오류동 산13-1,126.848573,37.488894
28,45,경희궁,98470.00,종로구,서울특별시 종로구 새문안로 55(신문로2가 2-1),126.968534,37.570773
29,46,국립현충원,2038741.30,동작구,서울특별시 동작구 사당2동 산41-2,126.973685,37.499862
30,47,계남근린공원,603715.20,양천구,서울특별시 양천구 신정동 산44-2일대,126.847964,37.513836
31,48,고척근린공원,108120.00,구로구,서울특별시 구로구 고척로45길 39(고척공원),126.852150,37.504294
32,51,파리근린공원,29619.30,양천구,서울특별시 양천구 목동동로 363,126.876393,37.534974
33,52,허준공원,29843.80,강서구,서울특별시 강서구 허준로5길 42,126.852675,37.567987
34,53,궁동근린공원,126026.00,서대문구,서울특별시 서대문구 성산로7길 19-24(궁동공원),126.922985,37.569051
35,54,궁산근린공원,135002.70,강서구,서울특별시 강서구 가양동 산4-7,126.838952,37.573565
36,55,까치산근린공원,384026.00,동작구,서울특별시 동작구 사당동 산32,126.964074,37.484584
37,56,꿩고개근린공원,180000.00,강서구,서울특별시 강서구 방화동 산110,126.815708,37.580159
38,57,노량진공원,416031.00,동작구,서울특별시 동작구 여의대방로 15-45(여의대방로36길 71),126.928607,37.510234
39,58,답십리근린공원,160720.00,동대문구,서울특별시 동대문구 답십리로 209(답십리공원),127.062651,37.575090
40,59,대모산도시자연공원,2277252.00,강남구,서울특별시 강남구 광평로10길 30-71(대모산공원),127.080964,37.479649

In [5]:
parks.tail(40)

,공원번호,공원명,면적,지역,공원주소,X좌표(WGS84),Y좌표(WGS84)
92,128,중랑캠핑숲,179666.00,중랑구,서울특별시 중랑구 송림길 160(중랑캠핑숲)/중랑구 망우동 74(청소년체험의숲),127.109307,37.604990
93,1001,솔밭근린공원,34955.00,강북구,서울특별시 강북구 우이동 80번지 일대,127.011624,37.652331
94,1002,금천체육공원(관악산),18083.00,금천구,서울특별시 금천구 독산동 산118-4(금천체육공원),126.908681,37.468164
95,1003,금천폭포근린공원,4835.00,금천구,서울특별시 금천구 시흥대로38길 61(시흥동 937-2),126.904013,37.446866
96,1004,만수천공원(관악산),19650.00,금천구,서울특별시 금천구 독산동 산8 일대,126.909003,37.473427
97,1005,발바닥공원,7000.00,도봉구,서울특별시 도봉구 시루봉로6길 33,127.031982,37.659714
98,1006,월천근린공원,10712.00,도봉구,서울특별시 도봉구 창동 28번지,127.050990,37.647389
99,1007,용두근린공원,17182.00,동대문구,서울특별시 동대문구 용두동 34-1번지 일대,127.039004,37.573279
100,1008,상암근린공원,160349.30,마포구,서울특별시 마포구 상암동 1761,126.885901,37.576011
101,1009,와우근린공원,87432.40,마포구,서울특별시 마포구 창전동 3-193번지 일대(홍익대 뒷산),126.928994,37.551730
102,1010,금호근린공원,13467.00,성동구,서울특별시 성동구 장터1길 18,127.018946,37.549473
103,1011,달맞이근린공원,46871.00,성동구,서울특별시 성동구 옥수동 산1-1,127.021205,37.543564
104,1012,문정근린공원,49972.00,송파구,서울특별시 송파구 문정동 18-4,127.127582,37.486216
105,1014,문화예술공원,74385.00,서초구,서울특별시 서초구 바우뫼로12길 40 (양재동),127.030517,37.467654
106,1328,세종로공원,8868.00,종로구,서울특별시 종로구 세종대로 189 (우) 03172,126.975887,37.573500
107,1329,샘말공원(관악산),10634.00,관악구,서울특별시 관악구 대학동 산63-1일대 샘말공원,126.938511,37.464213
108,1338,초안산생태공원,22113.00,도봉구,서울특별시 도봉구 창동 산24,127.040538,37.647948
109,1348,푸른수목원,103000.00,구로구,서울특별시 구로구 연동로 240(항동81-1) 푸른수목원관리사무소,126.824070,37.483029
110,1357,서오능도시자연공원,1082847.00,은평구,서울특별시 은평구 구파발동 갈현동 진관내동,126.913434,37.637482
111,1360,청계산도시자연공원,3692455.00,서초구,서울특별시 서초구 원지동 산 33,127.042473,37.422435
112,1362,개화근린공원,386500.00,강서구,서울특별시 강서구 개화동 산17,126.806828,37.581392
113,1364,아차산생태공원,23450.00,광진구,서울특별시 광진구 광장동 370,127.101003,37.551714
114,1365,인능산도시자연공원,2400833.00,서초구,서울특별시 서초구 내곡동 산12-404,127.066663,37.448211
115,1366,구룡산,2752421.00,서초구,서울특별시 서초구 염곡동 산25-1,127.061567,37.468947
116,1367,우면산도시자연공원,4180551.00,서초구,서울특별시 서초구 우면동 산35-1,127.009132,37.470484
117,1368,향림근린공원,147859.00,은평구,서울특별시 은평구 진관동 산55,126.924069,37.629382
118,1369,신사근린공원,111650.00,은평구,서울특별시 은평구 신사동 산80-4,126.910295,37.592077
119,1370,문화역 서울284,3865.59,중구,서울특별시 중구 통일로 1 서울역,126.971592,37.555872
120,1371,광평근린공원,519782.00,강남구,서울특별시 강남구 수서동 산10-1,127.092184,37.488045
121,1372,청담근린공원,59347.00,강남구,서울특별시 강남구 청담동 66,127.052453,37.521326
122,1373,허브천문공원,25500.00,강동구,서울특별시 강동구 둔촌동 산94,127.153395,37.537272
123,1374,연신내물빛공원,2560.00,은평구,서울특별시 은평구 통일로 849,126.920735,37.619052
124,1375,나들이근린공원,32000.00,중랑구,서울특별시 중구 망우동 산 30-7 일대,127.113261,37.605422
125,1376,숭인근린공원,45615.00,종로구,서울특별시 종로구 숭인동 58,127.017827,37.576442
126,1377,서일대뒷산공원,631021.00,중랑구,서울특별시 중랑구 면목동 산19,127.098782,37.587716
127,1378,용마도시자연공원(사가정공원),109635.00,중랑구,서울특별시 중랑구 면목7동 산50,127.095997,37.579762
128,1379,문화비축기지,140022.00,마포구,서울특별시 마포구 증산로 87,126.893245,37.571718
129,1380,경춘선숲길,211392.00,NaN,서울특별시 노원구 공릉2동 산 82-2,127.076482,37.627077
130,1381,율현공원,157535.00,강남구,서울특별시 강남구 율현동 밤고개로24길(율현동 56),127.115594,37.472332
131,1382,서울로7017,6120.00,중구,서울특별시 서울로7017,NaN,NaN

In [6]:
parks['지역'][129] = '노원구'

import requests
from urllib.parse import urlparse, quote
key_fd = open('../06. RestAPI/kakaokey.txt', mode='r')
kakao_key = key_fd.read(100)
key_fd.close()

url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + quote('서울 중구 퇴계로 33')
result = requests.get(url, headers={"Authorization": 'KakaoAK '+kakao_key}).json()
lng = float(result['documents'][0]['x'])
lat = float(result['documents'][0]['y'])

parks['X좌표(WGS84)'][131] = lng
parks['Y좌표(WGS84)'][131] = lat
parks.tail()

,공원번호,공원명,면적,지역,공원주소,X좌표(WGS84),Y좌표(WGS84)
127,1378,용마도시자연공원(사가정공원),109635.0,중랑구,서울특별시 중랑구 면목7동 산50,127.095997,37.579762
128,1379,문화비축기지,140022.0,마포구,서울특별시 마포구 증산로 87,126.893245,37.571718
129,1380,경춘선숲길,211392.0,노원구,서울특별시 노원구 공릉2동 산 82-2,127.076482,37.627077
130,1381,율현공원,157535.0,강남구,서울특별시 강남구 율현동 밤고개로24길(율현동 56),127.115594,37.472332
131,1382,서울로7017,6120.0,중구,서울특별시 서울로7017,126.976608,37.557546

In [7]:
parks.rename(columns={parks.columns[0]: '공원번호', parks.columns[1]: '공원명', parks.columns[2]: '면적', parks.columns[3]: '지역', parks.columns[4]: '주소', parks.columns[5]: '경도', parks.columns[6]: '위도'}, inplace=True)
parks.head()

,공원번호,공원명,면적,지역,주소,경도,위도
0,1,남산도시자연공원,2896887.0,중구,서울특별시 중구 삼일대로 231(예장동),126.990377,37.550140
1,3,길동생태공원,80683.0,강동구,서울특별시 강동구 천호대로 1291(길동생태공원),127.154779,37.540394
3,5,서울숲,480994.0,성동구,서울특별시 성동구 뚝섬로 273 (성수동1가),127.041798,37.543072
4,6,월드컵공원,2284085.0,마포구,서울특별시 마포구 하늘공원로 84(월드컵공원),126.878907,37.571805
5,12,광화문시민열린마당,8948.1,종로구,서울특별시 종로구 세종로 76-2,126.978023,37.575045

In [8]:
parks.sort_values(by='지역')

,공원번호,공원명,면적,지역,주소,경도,위도
121,1372,청담근린공원,59347.0,강남구,서울특별시 강남구 청담동 66,127.052453,37.521326
130,1381,율현공원,157535.0,강남구,서울특별시 강남구 율현동 밤고개로24길(율현동 56),127.115594,37.472332
63,92,봉은공원,328018.0,강남구,서울특별시 강남구 삼성동 75,127.055496,37.513903
120,1371,광평근린공원,519782.0,강남구,서울특별시 강남구 수서동 산10-1,127.092184,37.488045
45,68,도산근린공원,29816.5,강남구,서울특별시 강남구 도산대로45길 20(도산공원),127.035030,37.524675
...,...,...,...,...,...,...,...
124,1375,나들이근린공원,32000.0,중랑구,서울특별시 중구 망우동 산 30-7 일대,127.113261,37.605422
126,1377,서일대뒷산공원,631021.0,중랑구,서울특별시 중랑구 면목동 산19,127.098782,37.587716
127,1378,용마도시자연공원(사가정공원),109635.0,중랑구,서울특별시 중랑구 면목7동 산50,127.095997,37.579762
72,102,용마폭포공원,5107964.0,중랑구,서울특별시 중랑구 면목동 산1-4,127.090589,37.573197
66,95,봉화산근린공원,1018689.0,중랑구,서울특별시 중랑구 묵동 산46-1,127.092362,37.610640

In [9]:
gu_info = pd.read_csv('refined_pop.csv')
gu_info = gu_info.reset_index().set_index('구별')
del gu_info['index']
del gu_info['Unnamed: 0']
gu_info.head()

        인구수     한국인    외국인    고령자
구별
종로구  159842  149952   9890  28396
중구   135321  125800   9521  24265
용산구  244953  229786  15167  39995
성동구  302695  295591   7104  45372
광진구  361923  348064  13859  50047

In [10]:
park_num = parks['지역'].value_counts()
gu_info['공원수'] = park_num
gu_info.head()

        인구수     한국인    외국인    고령자  공원수
구별
종로구  159842  149952   9890  28396   12
중구   135321  125800   9521  24265    5
용산구  244953  229786  15167  39995    2
성동구  302695  295591   7104  45372    5
광진구  361923  348064  13859  50047    2

In [11]:
aos = pd.read_csv('./data/area_of_Seoul.csv', header=1, delimiter='\t', encoding='utf8')
aos.head()

     기간  자치구      면적  구성비(%)   행정   법정       통       반
0  2019  서울시  605.24   100.0  424  467  12,713  94,152
1  2019  종로구   23.91     4.0   17   87     278   1,479
2  2019   중구    9.96     1.6   15   74     253   1,580
3  2019  용산구   21.87     3.6   16   36     351   2,550
4  2019  성동구   16.86     2.8   17   17     466   3,619

In [12]:
aos.drop([0], inplace=True)
aos.rename(columns={aos.columns[0]: '기간', aos.columns[1]: '구별', aos.columns[2]: '면적', aos.columns[3]: '구성비(%)', aos.columns[4]: '행정', aos.columns[5]: '법정', aos.columns[6]: '통', aos.columns[7]: '반'}, inplace=True)
aos = aos.reset_index().set_index('구별')
gu_info['면적'] = aos['면적']
gu_info.head()

        인구수     한국인    외국인    고령자  공원수     면적
구별
종로구  159842  149952   9890  28396   12  23.91
중구   135321  125800   9521  24265    5   9.96
용산구  244953  229786  15167  39995    2  21.87
성동구  302695  295591   7104  45372    5  16.86
광진구  361923  348064  13859  50047    2  17.06

In [ ]:
area_avg = pa
#gu_info['공원평균면적'] =