# OpenWeather API
### 위도, 경도로부터 현재 날씨 구하기

In [7]:
import requests
from urllib.parse import urlparse
import pandas as pd

In [13]:
key_fd = open('tmpkey.txt', mode='r')
openweather_key = key_fd.read(100)
key_fd.close()

In [24]:
lat = 37.5509655; lng = 126.849532 
url = f'https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lng}&appid={openweather_key}&units=metric&lang=kr'
result = requests.get(urlparse(url).geturl()).json()
result

{'coord': {'lon': 126.85, 'lat': 37.55},
 'weather': [{'id': 803,
   'main': 'Clouds',
   'description': '튼구름',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 3.06,
  'feels_like': -1.73,
  'temp_min': 2,
  'temp_max': 4,
  'pressure': 1019,
  'humidity': 69},
 'visibility': 10000,
 'wind': {'speed': 3.6, 'deg': 350},
 'clouds': {'all': 75},
 'dt': 1605841650,
 'sys': {'type': 1,
  'id': 8105,
  'country': 'KR',
  'sunrise': 1605824263,
  'sunset': 1605860344},
 'timezone': 32400,
 'id': 1838716,
 'name': 'Bucheon-si',
 'cod': 200}

In [25]:
main = result['weather'][0]['main']
desc = result['weather'][0]['description']
temp = result['main']['temp']
temp_min = result['main']['temp_min']
temp_max = result['main']['temp_max']
temp = round(float(temp)+0.01, 1)
temp, temp_min, temp_max

(3.1, 2, 4)

### address2.csv 파일 읽어서 날씨 정보 입력하기

In [26]:
df = pd.read_csv('address2.csv')
df

        bldg                   road_addr        lat         lng
0       강서구청     서울특별시 강서구 화곡로 302 (화곡동)  37.550966  126.849532
1       양천구청    서울특별시 양천구 목동동로 105 (신정동)  37.517075  126.866543
2  부천시청 어린이집      경기도 부천시 길주로 210-2 (중동)  37.502277  126.765004
3      영등포구청  서울특별시 영등포구 당산로 123 (당산동3가)  37.525963  126.896367
4       김포시청        경기도 김포시 사우중로 1 (사우동)  37.615190  126.715717

In [27]:
weather_list = []; desc_list = []; temp_list = []
for i in df.index: 
    url = f'https://api.openweathermap.org/data/2.5/weather?lat={df.lat[i]}&lon={df.lng[i]}&appid={openweather_key}&units=metric&lang=kr'
    result = requests.get(urlparse(url).geturl()).json()
    main = result['weather'][0]['main']
    desc = result['weather'][0]['description']
    temp = result['main']['temp']
    temp = round(float(temp)+0.01, 1)
    temp_min = result['main']['temp_min']
    temp_max = result['main']['temp_max']
    weather_list.append(main); desc_list.append(desc); temp_list.append(f'{temp}/{temp_min}/{temp_max}')

In [28]:
df['weather'] = weather_list
df['description'] = desc_list
df['temperature'] = temp_list
df

,bldg,road_addr,lat,lng,weather,description,temperature
0,강서구청,서울특별시 강서구 화곡로 302 (화곡동),37.550966,126.849532,Clouds,튼구름,3.1/2/4
1,양천구청,서울특별시 양천구 목동동로 105 (신정동),37.517075,126.866543,Clouds,튼구름,3.9/3/5
2,부천시청 어린이집,경기도 부천시 길주로 210-2 (중동),37.502277,126.765004,Clouds,튼구름,3.0/2/4
3,영등포구청,서울특별시 영등포구 당산로 123 (당산동3가),37.525963,126.896367,Clouds,온흐림,3.9/3/5
4,김포시청,경기도 김포시 사우중로 1 (사우동),37.615190,126.715717,Clouds,튼구름,3.0/2/4

In [29]:
df.to_csv('address3.csv', sep=',', encoding='utf8', index=False)