### 연습문제 4.4.7

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [2]:
titanic.age = titanic.age.fillna(round(titanic['age'].mean(), 2))
ages = list(titanic['age'])
bins = [1, 20, 30, 50, 70, 100]
labels = ['미성년자', '청년', '중년', '장년', '노년']
cats = pd.cut(ages, bins, labels=labels)
cats

[청년, 중년, 청년, 중년, 중년, ..., 청년, 미성년자, 청년, 청년, 중년]
Length: 891
Categories (5, object): [미성년자 < 청년 < 중년 < 장년 < 노년]

In [3]:
pd.value_counts(cats)

청년      407
중년      241
미성년자    165
장년       59
노년        5
dtype: int64

In [4]:
titan = pd.DataFrame(pd.value_counts(cats))
titan = titan / titan.sum(axis=0) * 100
titan

              0
청년    46.408210
중년    27.480046
미성년자  18.814139
장년     6.727480
노년     0.570125

### 연습문제 4.4.8

In [5]:
titanic['age_cat'] = cats

In [6]:
titanic['category3'] = titanic.apply(lambda r: r.age_cat + r.sex if r.age >= 20 else r.age_cat, axis=1)
titanic.tail()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,age_cat,category3
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True,청년,청년male
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True,미성년자,미성년자
888,0,3,female,29.7,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False,청년,청년female
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True,청년,청년male
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,중년,중년male

### 첨부 문제 1

In [7]:
s = pd.read_csv('samples/population_age_2020.csv')
s

FileNotFoundError: [Errno 2] File samples/population_age_2020.csv does not exist: 'samples/population_age_2020.csv'

In [184]:
provin_list = [s.T[i].values.tolist() for i in range(17)]
print(provin_list)

[['서울', 9736962, 658355, 813563, 1455903, 1505729, 1563968, 1539385, 1200518, 688818, 263939, 40404, 6380], ['부산', 3410925, 241624, 281120, 434692, 431911, 518321, 580966, 511174, 285602, 109312, 14396, 1807], ['대구', 2432883, 186623, 234528, 321487, 303397, 391997, 428622, 311274, 171217, 74227, 8817, 694], ['인천', 2954955, 239941, 281097, 405835, 417708, 490716, 515758, 344843, 172269, 74306, 11574, 908], ['광주', 1456121, 125396, 162728, 207554, 191432, 244903, 234048, 155056, 91020, 38050, 5529, 405], ['대전', 1473125, 120476, 151861, 212143, 199106, 242381, 243526, 170291, 88289, 39190, 5523, 339], ['울산', 1145710, 103399, 115623, 147745, 158271, 190698, 211255, 136520, 57438, 21610, 2991, 160], ['세종', 343788, 47454, 40574, 36273, 61442, 65714, 42907, 27813, 13609, 6863, 1084, 55], ['경기도', 13265377, 1178548, 1347854, 1769080, 1917785, 2299179, 2205106, 1422638, 742296, 330231, 48650, 4010], ['강원도', 1539521, 108694, 141975, 179813, 169694, 227950, 269666, 226444, 135668, 68321, 10493, 803], ['충청북도', 1598599, 128290, 153119, 198910, 198768, 243982, 273857, 209926, 119037, 63513, 8656, 541], ['충청남도', 2120995, 179808, 206578, 243748, 276553, 329789, 340568, 264305, 167339, 97941, 13481, 885], ['전라북도', 1815112, 135297, 180675, 212339, 195971, 274471, 303074, 244901, 165445, 89352, 12770, 817], ['전라남도', 1861894, 137868, 172888, 202760, 193083, 265366, 317226, 259385, 191719, 105793, 14984, 822], ['경상북도', 2658956, 198214, 233506, 291097, 303472, 390995, 464427, 389498, 238482, 130716, 17589, 960], ['경상남도', 3358828, 282751, 331566, 384750, 418383, 543911, 585186, 435315, 240111, 119977, 16139, 739], ['제주도', 670876, 62086, 71539, 81968, 84145, 113076, 111221, 75172, 44621, 22963, 3819, 266]]

### 첨부 문제 2

In [185]:
arr = np.array(provin_list)
print(arr.T)

[['서울' '부산' '대구' '인천' '광주' '대전' '울산' '세종' '경기도' '강원도' '충청북도' '충청남도'
  '전라북도' '전라남도' '경상북도' '경상남도' '제주도']
 ['9736962' '3410925' '2432883' '2954955' '1456121' '1473125' '1145710'
  '343788' '13265377' '1539521' '1598599' '2120995' '1815112' '1861894'
  '2658956' '3358828' '670876']
 ['658355' '241624' '186623' '239941' '125396' '120476' '103399' '47454'
  '1178548' '108694' '128290' '179808' '135297' '137868' '198214'
  '282751' '62086']
 ['813563' '281120' '234528' '281097' '162728' '151861' '115623' '40574'
  '1347854' '141975' '153119' '206578' '180675' '172888' '233506'
  '331566' '71539']
 ['1455903' '434692' '321487' '405835' '207554' '212143' '147745' '36273'
  '1769080' '179813' '198910' '243748' '212339' '202760' '291097'
  '384750' '81968']
 ['1505729' '431911' '303397' '417708' '191432' '199106' '158271' '61442'
  '1917785' '169694' '198768' '276553' '195971' '193083' '303472'
  '418383' '84145']
 ['1563968' '518321' '391997' '490716' '244903' '242381' '190698' '65714'
  '2299179' '227950' '243982' '329789' '274471' '265366' '390995'
  '543911' '113076']
 ['1539385' '580966' '428622' '515758' '234048' '243526' '211255' '42907'
  '2205106' '269666' '273857' '340568' '303074' '317226' '464427'
  '585186' '111221']
 ['1200518' '511174' '311274' '344843' '155056' '170291' '136520' '27813'
  '1422638' '226444' '209926' '264305' '244901' '259385' '389498'
  '435315' '75172']
 ['688818' '285602' '171217' '172269' '91020' '88289' '57438' '13609'
  '742296' '135668' '119037' '167339' '165445' '191719' '238482' '240111'
  '44621']
 ['263939' '109312' '74227' '74306' '38050' '39190' '21610' '6863'
  '330231' '68321' '63513' '97941' '89352' '105793' '130716' '119977'
  '22963']
 ['40404' '14396' '8817' '11574' '5529' '5523' '2991' '1084' '48650'
  '10493' '8656' '13481' '12770' '14984' '17589' '16139' '3819']
 ['6380' '1807' '694' '908' '405' '339' '160' '55' '4010' '803' '541'
  '885' '817' '822' '960' '739' '266']]

### 첨부 문제 3

In [186]:
region = s.columns.tolist()
dict_a = dict.fromkeys(region)
dict_a.update(zip(region, arr.T.tolist()))
print(dict_a)

{'지역': ['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주도'], '총인구수': ['9736962', '3410925', '2432883', '2954955', '1456121', '1473125', '1145710', '343788', '13265377', '1539521', '1598599', '2120995', '1815112', '1861894', '2658956', '3358828', '670876'], '0~9세': ['658355', '241624', '186623', '239941', '125396', '120476', '103399', '47454', '1178548', '108694', '128290', '179808', '135297', '137868', '198214', '282751', '62086'], '10~19세': ['813563', '281120', '234528', '281097', '162728', '151861', '115623', '40574', '1347854', '141975', '153119', '206578', '180675', '172888', '233506', '331566', '71539'], '20~29세': ['1455903', '434692', '321487', '405835', '207554', '212143', '147745', '36273', '1769080', '179813', '198910', '243748', '212339', '202760', '291097', '384750', '81968'], '30~39세': ['1505729', '431911', '303397', '417708', '191432', '199106', '158271', '61442', '1917785', '169694', '198768', '276553', '195971', '193083', '303472', '418383', '84145'], '40~49세': ['1563968', '518321', '391997', '490716', '244903', '242381', '190698', '65714', '2299179', '227950', '243982', '329789', '274471', '265366', '390995', '543911', '113076'], '50~59세': ['1539385', '580966', '428622', '515758', '234048', '243526', '211255', '42907', '2205106', '269666', '273857', '340568', '303074', '317226', '464427', '585186', '111221'], '60~69세': ['1200518', '511174', '311274', '344843', '155056', '170291', '136520', '27813', '1422638', '226444', '209926', '264305', '244901', '259385', '389498', '435315', '75172'], '70~79세': ['688818', '285602', '171217', '172269', '91020', '88289', '57438', '13609', '742296', '135668', '119037', '167339', '165445', '191719', '238482', '240111', '44621'], '80~89세': ['263939', '109312', '74227', '74306', '38050', '39190', '21610', '6863', '330231', '68321', '63513', '97941', '89352', '105793', '130716', '119977', '22963'], '90~99세': ['40404', '14396', '8817', '11574', '5529', '5523', '2991', '1084', '48650', '10493', '8656', '13481', '12770', '14984', '17589', '16139', '3819'], '100세 이상': ['6380', '1807', '694', '908', '405', '339', '160', '55', '4010', '803', '541', '885', '817', '822', '960', '739', '266']}

### 첨부 문제 4

In [187]:
keys = list(key for key in dict_a.keys())
columns = keys

new_df = pd.DataFrame(dict_a, columns=columns)
new_df

,지역,총인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
0,서울,9736962,658355,813563,1455903,1505729,1563968,1539385,1200518,688818,263939,40404,6380
1,부산,3410925,241624,281120,434692,431911,518321,580966,511174,285602,109312,14396,1807
2,대구,2432883,186623,234528,321487,303397,391997,428622,311274,171217,74227,8817,694
3,인천,2954955,239941,281097,405835,417708,490716,515758,344843,172269,74306,11574,908
4,광주,1456121,125396,162728,207554,191432,244903,234048,155056,91020,38050,5529,405
5,대전,1473125,120476,151861,212143,199106,242381,243526,170291,88289,39190,5523,339
6,울산,1145710,103399,115623,147745,158271,190698,211255,136520,57438,21610,2991,160
7,세종,343788,47454,40574,36273,61442,65714,42907,27813,13609,6863,1084,55
8,경기도,13265377,1178548,1347854,1769080,1917785,2299179,2205106,1422638,742296,330231,48650,4010
9,강원도,1539521,108694,141975,179813,169694,227950,269666,226444,135668,68321,10493,803
10,충청북도,1598599,128290,153119,198910,198768,243982,273857,209926,119037,63513,8656,541
11,충청남도,2120995,179808,206578,243748,276553,329789,340568,264305,167339,97941,13481,885
12,전라북도,1815112,135297,180675,212339,195971,274471,303074,244901,165445,89352,12770,817
13,전라남도,1861894,137868,172888,202760,193083,265366,317226,259385,191719,105793,14984,822
14,경상북도,2658956,198214,233506,291097,303472,390995,464427,389498,238482,130716,17589,960
15,경상남도,3358828,282751,331566,384750,418383,543911,585186,435315,240111,119977,16139,739
16,제주도,670876,62086,71539,81968,84145,113076,111221,75172,44621,22963,3819,266

### 첨부 문제 5

In [188]:
new_df['100세 이상'] = new_df['100세 이상'].astype(int)
new_df = new_df.sort_values(by='100세 이상', ascending=False)
new_df

,지역,총인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
0,서울,9736962,658355,813563,1455903,1505729,1563968,1539385,1200518,688818,263939,40404,6380
8,경기도,13265377,1178548,1347854,1769080,1917785,2299179,2205106,1422638,742296,330231,48650,4010
1,부산,3410925,241624,281120,434692,431911,518321,580966,511174,285602,109312,14396,1807
14,경상북도,2658956,198214,233506,291097,303472,390995,464427,389498,238482,130716,17589,960
3,인천,2954955,239941,281097,405835,417708,490716,515758,344843,172269,74306,11574,908
11,충청남도,2120995,179808,206578,243748,276553,329789,340568,264305,167339,97941,13481,885
13,전라남도,1861894,137868,172888,202760,193083,265366,317226,259385,191719,105793,14984,822
12,전라북도,1815112,135297,180675,212339,195971,274471,303074,244901,165445,89352,12770,817
9,강원도,1539521,108694,141975,179813,169694,227950,269666,226444,135668,68321,10493,803
15,경상남도,3358828,282751,331566,384750,418383,543911,585186,435315,240111,119977,16139,739
2,대구,2432883,186623,234528,321487,303397,391997,428622,311274,171217,74227,8817,694
10,충청북도,1598599,128290,153119,198910,198768,243982,273857,209926,119037,63513,8656,541
4,광주,1456121,125396,162728,207554,191432,244903,234048,155056,91020,38050,5529,405
5,대전,1473125,120476,151861,212143,199106,242381,243526,170291,88289,39190,5523,339
16,제주도,670876,62086,71539,81968,84145,113076,111221,75172,44621,22963,3819,266
6,울산,1145710,103399,115623,147745,158271,190698,211255,136520,57438,21610,2991,160
7,세종,343788,47454,40574,36273,61442,65714,42907,27813,13609,6863,1084,55

In [191]:
final_df = pd.DataFrame({
    '지역': new_df['지역'],
    '100세 이상': new_df['100세 이상'],
    '총인구수': new_df['총인구수']
})
final_df

      지역  100세 이상      총인구수
0     서울     6380   9736962
8    경기도     4010  13265377
1     부산     1807   3410925
14  경상북도      960   2658956
3     인천      908   2954955
11  충청남도      885   2120995
13  전라남도      822   1861894
12  전라북도      817   1815112
9    강원도      803   1539521
15  경상남도      739   3358828
2     대구      694   2432883
10  충청북도      541   1598599
4     광주      405   1456121
5     대전      339   1473125
16   제주도      266    670876
6     울산      160   1145710
7     세종       55    343788