In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
iris = sns.load_dataset('iris')

In [3]:
def abn(x):
    q1, q3 = np.percentile(x, [25, 75])
    iqr = q3 - q1
    low_bound = q1 - iqr * 1.5
    high_bound = q3 + iqr * 1.5
    x[(x > high_bound) | (x < low_bound)] = np.NaN
    return x

In [4]:
old_set_stats = pd.DataFrame({
    'species': ['setosa'] * 4,
    'old_mean': iris[iris.species == 'setosa'].mean(),
    'old_std': iris[iris.species == 'setosa'].std()
})
old_ver_stats = pd.DataFrame({
    'species': ['versicolor'] * 4,
    'old_mean': iris[iris.species == 'versicolor'].mean(),
    'old_std': iris[iris.species == 'versicolor'].std()
})
old_vir_stats = pd.DataFrame({
    'species': ['virginica'] * 4,
    'old_mean': iris[iris.species == 'virginica'].mean(),
    'old_std': iris[iris.species == 'virginica'].std()
})

In [5]:
old_set_stats.reset_index()
old_ver_stats.reset_index()
old_vir_stats.reset_index()
tmp_old = old_set_stats.append(old_ver_stats)
old_stats = tmp_old.append(old_vir_stats)
old_stats = old_stats.reset_index()
old_stats.columns = ['leaf', 'species', 'old_mean', 'old_std']

In [6]:
new_setosa = pd.DataFrame({
    'sepal_length': abn(iris[iris.species == 'setosa'].sepal_length),
    'sepal_width': abn(iris[iris.species == 'setosa'].sepal_width),
    'petal_length': abn(iris[iris.species == 'setosa'].petal_length),
    'petal_width': abn(iris[iris.species == 'setosa'].petal_width),
    'species': ['setosa'] * 50})

In [7]:
new_versicolor = pd.DataFrame({
    'sepal_length': abn(iris[iris.species == 'versicolor'].sepal_length),
    'sepal_width': abn(iris[iris.species == 'versicolor'].sepal_width),
    'petal_length': abn(iris[iris.species == 'versicolor'].petal_length),
    'petal_width': abn(iris[iris.species == 'versicolor'].petal_width),
    'species': ['versicolor'] * 50})

In [8]:
new_virginica = pd.DataFrame({
    'sepal_length': abn(iris[iris.species == 'virginica'].sepal_length),
    'sepal_width': abn(iris[iris.species == 'virginica'].sepal_width),
    'petal_length': abn(iris[iris.species == 'virginica'].petal_length),
    'petal_width': abn(iris[iris.species == 'virginica'].petal_width),
    'species': ['virginica'] * 50})

In [9]:
tmp = new_setosa.append(new_versicolor)
new_iris = tmp.append(new_virginica)

In [10]:
set_stats = pd.DataFrame({
    'species': ['setosa'] * 4,
    'mean': new_iris[new_iris.species == 'setosa'].mean(),
    'std': new_iris[new_iris.species == 'setosa'].std()
})
ver_stats = pd.DataFrame({
    'species': ['versicolor'] * 4,
    'mean': new_iris[new_iris.species == 'versicolor'].mean(),
    'std': new_iris[new_iris.species == 'versicolor'].std()
})
vir_stats = pd.DataFrame({
    'species': ['virginica'] * 4,
    'mean': new_iris[new_iris.species == 'virginica'].mean(),
    'std': new_iris[new_iris.species == 'virginica'].std()
})

In [11]:
set_stats.reset_index()
ver_stats.reset_index()
vir_stats.reset_index()
tmp_new = set_stats.append(ver_stats)
stats = tmp_new.append(vir_stats)
stats = stats.reset_index()
stats.columns = ['leaf', 'species', 'mean', 'std']

In [16]:
iris_stats = old_stats
iris_stats['mean'] = stats['mean']
iris_stats['std'] = stats['std']
iris_stats.pivot_table(['old_mean', 'old_std', 'mean', 'std'], ['species', 'leaf'])

                             mean  old_mean   old_std       std
species    leaf
setosa     petal_length  1.460870     1.462  0.173664  0.129062
           petal_width   0.233333     0.246  0.105386  0.085883
           sepal_length  5.006000     5.006  0.352490  0.352490
           sepal_width   3.431250     3.428  0.379064  0.320343
versicolor petal_length  4.285714     4.260  0.469911  0.437798
           petal_width   1.326000     1.326  0.197753  0.197753
           sepal_length  5.936000     5.936  0.516171  0.516171
           sepal_width   2.770000     2.770  0.313798  0.313798
virginica  petal_length  5.552000     5.552  0.551895  0.551895
           petal_width   2.026000     2.026  0.274650  0.274650
           sepal_length  6.622449     6.588  0.635880  0.593459
           sepal_width   2.955319     2.974  0.322497  0.260275