### 연습문제 1

In [2]:
import sqlite3
conn = sqlite3.connect('./Kiwoom.db')

In [5]:
players = ((1, '한현희', '투수', 27), (8, '브리검', '투수', 32), (11, '조상우', '투수', 26), (43, '요키시', '투수', 31), (19, '문성현', '투수', 28), (56, '이지영', '포수', 34), (7, '김하성', '유격수', 25), (14, '서건창', '2루수', 31), (52, '박병호', '1루수', 34), (51, '이정후', '외야수', 22))
cur = conn.cursor()
cur.executemany('insert into Heroes values(?, ?, ?, ?);', players)

IntegrityError: UNIQUE constraint failed: Heroes.back_no

In [6]:
conn.commit()

In [14]:
cur = conn.cursor()
cur.execute('create table Pitchers_stats \
    (ERA real not null, \
     IP real not null, \
     SO int not null, \
     pid integer not null primary key autoincrement, \
     back_no int not null, \
     foreign key(back_no) references Heroes(back_no));')
conn.commit()

In [17]:
pitcher_stats = ((4.98, 135.2, 109, 1, 1), (3.62, 107, 105, 2, 8), (2.15, 54.1, 64, 3, 11), (5.40, 18.1, 13, 4, 15), (4.73, 51.1, 48, 5, 24), (4.20, 15, 13, 6, 19), (2.14, 159.2, 115, 7, 43))
cur = conn.cursor()
cur.executemany('insert into Pitchers_stats values(?, ?, ?, ?, ?);', pitcher_stats)
conn.commit()

In [5]:
import sqlite3
conn = sqlite3.connect('./Kiwoom.db')
cur = conn.cursor()
cur.execute('select h.back_no, h.name, h.position, p.IP, p.ERA, p.SO from Heroes as h \
            join Pitchers_stats as p \
            on h.back_no=p.back_no')
rows = cur.fetchall()
for row in rows:
    print(f'등번호: {row[0]}, 이름: {row[1]}, 포지션: {row[2]}, IP: {row[3]}, ERA: {row[4]}, SO: {row[5]}')

등번호: 1, 이름: 한현희, 포지션: 투수, IP: 135.2, ERA: 4.98, SO: 109
등번호: 8, 이름: 브리검, 포지션: 투수, IP: 107.0, ERA: 3.62, SO: 105
등번호: 11, 이름: 조상우, 포지션: 투수, IP: 54.1, ERA: 2.15, SO: 64
등번호: 19, 이름: 문성현, 포지션: 투수, IP: 15.0, ERA: 4.2, SO: 13
등번호: 43, 이름: 요키시, 포지션: 투수, IP: 159.2, ERA: 2.14, SO: 115

### 연습문제 2.1

In [7]:
import sqlite3
conn = sqlite3.connect('./Groups.db')
cur = conn.cursor()
cur.execute('create table idol \
            (id integer not null primary key autoincrement, \
            group_name text not null, \
            member int not null, \
            debut text not null, \
            company text not null);')
conn.commit()

In [10]:
idols = ((1, '블랙핑크', 4, '2016-08-08', 'YG Entertainment'), (2, '트와이스', 9, '2015-10-20', 'JYP Entertainment'), (3, '방탄소년단', 7, '2013-06-13', 'Big Hit Entertainment'), (4, 'WINNER', 4, '2014-08-17', 'YG Entertainment'), (5, '오마이걸', 7, '2015-04-21', 'WM Entertainment'))
cur = conn.cursor()
cur.executemany('insert into idol values(?, ?, ?, ?, ?);', idols)
conn.commit()

### 연습문제 2.2

In [11]:
cur = conn.cursor()
cur.execute('create table songs \
            (song_id integer not null primary key autoincrement, \
            song_name text not null, \
            group_id int not null, \
            release_date text not null, \
            composer text not null, \
            lyrics text not null, \
            foreign key(group_id) references idol(id));')
conn.commit()

In [12]:
songs = ((1, 'Dolphin', 5, '2020-04-27', 'Ryan S. Jhun 외', 'oh my god 타이밍이 참 얄미워 오늘 같은 날 마주쳐 이게 뭐야'), (2, 'Dynamite', 3, '2020-08-21', 'David Stewart 외', 'Cos ah ah I’m in the stars tonight'), (3, 'MORE & MORE', 2, '2020-06-01', 'Uzoechi Emenike 외', 'I know I want it 입에 바른 소린 이제 그만할게'), (4, 'How You Like That', 1, '2020-10-02', 'TEDDY 외', '보란 듯이 무너졌어 바닥을 뚫고 저 지하까지'), (5, 'MILLIONS', 4, '2018-12-19', '강승윤 외', 'I like you babe 어디가 그렇게 좋으냐고 묻네'), (6, '스물다섯, 스물하나', 6, '2013-10-14', '김윤아', '바람에 날려 꽃이 지는 계절엔 아직도 너의 손을 잡은 듯 그런 듯해'), (7, 'Viva la Vida', 7, '2008-06-12', 'Cold Play', 'I used to rule the world'), (8, 'Ice Cream (with Selena Gomez)', 1, '2020-08-28', 'Tommy Brown 외', 'Come a little closer cause you looking thirsty'), (9, '작은 것들을 위한 시(Boy With Luv)', 3, '2019-04-12', 'RM 외', '모든 게 궁금해 How’s your day Oh tell me 뭐가 널 행복하게 하는지 Oh text me'), (10, '러시안 룰렛(Russian Roulette)', 8, '2016-09-07', 'Belle Humble 외', '날카로운 Secret 둘러싼 얘긴 베일 속에 점점 더 깊은 H H Hush 맘을 겨눠 이제'))
cur = conn.cursor()
cur.executemany('insert into songs values(?, ?, ?, ?, ?, ?);', songs)
conn.commit()

### 연습문제 2.3

In [13]:
cur = conn.cursor()
cur.execute('select i.group_name, i.member, i.debut, s.song_name, s.release_date from idol as i \
            join songs as s \
            on i.id=s.group_id;')
rows = cur.fetchall()
for row in rows:
    print(f'그룹 이름: {row[0]}, 구성원 수: {row[1]}, 데뷔 일자: {row[2]}, 노래 이름: {row[3]}, 발표 연도: {row[4]}')

그룹 이름: 오마이걸, 구성원 수: 7, 데뷔 일자: 2015-04-21, 노래 이름: Dolphin, 발표 연도: 2020-04-27
그룹 이름: 방탄소년단, 구성원 수: 7, 데뷔 일자: 2013-06-13, 노래 이름: Dynamite, 발표 연도: 2020-08-21
그룹 이름: 트와이스, 구성원 수: 9, 데뷔 일자: 2015-10-20, 노래 이름: MORE & MORE, 발표 연도: 2020-06-01
그룹 이름: 블랙핑크, 구성원 수: 4, 데뷔 일자: 2016-08-08, 노래 이름: How You Like That, 발표 연도: 2020-10-02
그룹 이름: WINNER, 구성원 수: 4, 데뷔 일자: 2014-08-17, 노래 이름: MILLIONS, 발표 연도: 2018-12-19
그룹 이름: 블랙핑크, 구성원 수: 4, 데뷔 일자: 2016-08-08, 노래 이름: Ice Cream (with Selena Gomez), 발표 연도: 2020-08-28
그룹 이름: 방탄소년단, 구성원 수: 7, 데뷔 일자: 2013-06-13, 노래 이름: 작은 것들을 위한 시(Boy With Luv), 발표 연도: 2019-04-12

### 연습문제 3

In [14]:
import sqlite3
conn = sqlite3.connect('./test.db')
cur = conn.cursor()
cur.execute('create table Users \
            (uid text not null, \
            pwd text not null);')
conn.commit()

In [15]:
user_info = (('user1', 'user1'), ('user2', 'user2'))
cur = conn.cursor()
cur.executemany('insert into Users values (?, ?);', user_info)
conn.commit()

In [47]:
user_id, user_pwd = input('아이디와 패스워드를 입력하십시오(아이디 패스워드)').split()
cur.execute('select * from Users;')
rows = cur.fetchall()
s_or_f = ''
for i in range(len(rows)):
    if user_id in rows[i][0]:
        if user_pwd == rows[i][1]:
            s_or_f += 's'
            break
        else:
            s_or_f += 'f'
            break
    else:
        s_or_f += 'f'
if s_or_f[-1] == 's':
    print('성공')
else:
    print('실패')

실패